:root {
    background-color: inherit !important;
}


#adminmenuwrap .toplevel_page_dollie_setup .wp-menu-image {
    background: url("../img/active.png") no-repeat scroll center center / 63% auto rgba(0, 0, 0, 0) !important;
    opacity: 0.8;
}
#wp-admin-bar-dab-sites,
#wp-admin-bar-dab-support,
#wp-admin-bar-dab-hub,
#wp-admin-bar-dab-blueprints {
    margin-top: 10px !important;

    .ab-item.ab-empty-item {
        height: auto !important;
        font-size: 10px;
        text-transform: uppercase;
        color: #999;
        letter-spacing: 1px;
    }
}
#adminmenuwrap #toplevel_page_dollie_setup {

    border-top: 2px solid #51aabf;
}

#adminmenuwrap li.toplevel_page_dollie_blueprints {
    border-bottom: 3px solid #51AABE;
    margin-bottom: 10px;
}

a[href="edit-tags.php?taxonomy=container_category&post_type=container"] {
    display: none !important;
}




.dol-dev-mode #adminmenuwrap li.toplevel_page_dollie_setup {
    display: block !important;
}



.toplevel_page_dollie_setup {
    .dollie-notice {
        display: none !important;
    }
}

.dol-divider-support {
    //border: 1px solid #0000001f;
    display: block;
    margin-bottom: 10px;
    // letter-spacing: 1px;

    &::before {
        content: "Support";
        font-size: 10px;
        text-transform: uppercase;
        color: #999;
        letter-spacing: 1px;
    }
}

.dol-status {
    text-transform: uppercase;
    font-size: 8px;
    display: inline-block;
    padding: 1.5px 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid #333;
    letter-spacing: 1.2px;
    position: relative;
    top: -1px;

    &.dol-live {
        background: #33d399;
    }

    &.dol-unverified,
    &.dol-staging,
    &.dol-trial {
        background: #efa041;
    }
}

#adminmenu {
    .wp-submenu {
        li.dol-divider-menu {
            margin-top: 10px;

            a {
                font-size: 10px;
                text-transform: uppercase;
                color: #999;
                letter-spacing: 1px;
                pointer-events: none;
            }
        }
    }
}



#adminmenuwrap .toplevel_page_dollie_setup a:hover .wp-menu-image {
    opacity: 1;
}

#adminmenuwrap {

    a[href*="blueprint"],
    a.menu-icon-container {
        .wp-menu-image {
            display: none;
        }
    }

    .dol-icon {
        position: relative;
        left: -25px;
        margin-right: -16px;
    }


    .toplevel_page_dollie_setup,
    .toplevel_page_dollie_setup,
    .toplevel_page_dollie_blueprints,
    .menu-icon-container {

        &.wp-menu-open {
            background: #51aabf !important;
        }


    }
}

#dollie-integrations-menu {
    border-top: 1px solid #585656;
    padding-top: 12px;
    display: block;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    margin-top: 6px;

    .dashicons.dashicons-awards {
        font-size: 116%;
        position: relative;
        top: 3px;
        margin-left: -4px;
        margin-right: -3px;
    }
}

.toplevel_page_dollie_setup {

    .alert,
    .notice,
    .error {
        display: none !important;
    }
}
