.dollie_is_staging {
  .notice,
  div.error,
  div.updated {
    //display: none !important;
  }
}

.notice.dollie-notice {
  z-index: initial;
}

body.toplevel_page_wpd_platform_setup {
  #wpfooter {
    display: none;
  }

  .postbox-header {
    display: none !important;
  }

  .postbox .inside {
    padding: 0 12px 12px;
  }

  background: #fff;
  @media only screen and (min-width: 768px) {
    .postbox {
      border: 0;
      background: #fff;
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
    }

    .acf-fields > .acf-field {
      position: relative;
      margin: 0;
      padding: 20px 0px !important;
      border-top: #eeeeee solid 1px;
      padding-bottom: 26px !important;
    }

    .form-wrap p,
    p.description,
    p.help,
    span.description {
      font-size: 14px;
      font-style: normal;
    }

    .acf-tab-group li a {
      display: block;
      padding: 10px 25px;
      border: #ccc solid 1px;
      border-bottom: 0 none;
      border-radius: 3px 3px 0 0;
      color: #555;
      background: #f1f1f1;
      font-size: 13px;
      font-weight: 800;
      line-height: 27px;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: none;
    }

    .acf-fields > .acf-tab-wrap {
      margin: 0;
      margin-bottom: 20px;
      background: #f9f9f9;
    }

    #wpwrap {
      #wpcontent {
        background: #fff;
      }

      .hndle,
      .handlediv {
        display: none;
      }

      // Custom Fixed Header on Desktops
      .acf-settings-wrap h1 {
        position: fixed;
        z-index: 100;
        top: 42px;
        width: 100%;
        margin-top: -10px;
        margin-right: -20px;
        margin-left: -22px;
        padding-top: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 68px;
        border-top: 1px solid #383f46;
        border-bottom: 1px solid #efefef;
        color: #000;
        background: linear-gradient(160deg, #ffffff 60%, #36b3cd 0%);

        &::before {
          display: inline-block;
          position: absolute;
          top: 21px;
          left: 25px;
          width: 32px;
          height: 32px;
          background-image: url("../img/icon.png");
          background-size: cover;
          content: "";
        }
      }

      #submitdiv {
        border: 0;
        box-shadow: none;

        .hndle,
        .spinner {
          display: none;
        }

        .spinner.is-active {
          position: absolute;
          top: 19px;
          filter: brightness(0);
        }
      }

      #major-publishing-actions {
        clear: both;
        position: fixed;
        z-index: 100000000;
        top: 32px;
        width: 17%;
        margin-right: 0px;
        padding: 10px;
        border-top: 0 none;
        background: transparent none repeat scroll 0 0;
      }

      #side-sortables {
        margin-top: -20px;
      }

      #publishing-action {
        float: none;
        width: 100%;
        margin-top: 2px;
        margin-left: -9px;

        &::before {
          opacity: 0;
        }
      }

      #major-publishing-actions input,
      #minor-publishing-actions .preview,
      #minor-publishing-actions input {
        width: 100%;
        height: 45px;
        padding: 0 18px;
        background: #545454;
        text-shadow: none;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;

        &:hover {
          background: #333;
          text-shadow: none;
        }
      }

      .wp-core-ui .notice.is-dismissible {
        top: 79px !important;
      }

      // The Actual Content Area
      #poststuff {
        padding-top: 85px;
        padding-left: 10px;
      }
    }

    .acf-fields > .acf-tab-wrap .acf-tab-group {
      background: #fff !important;
    }
  }
}

//Blueprint Admin Box
#acf-group_5affdcd76c8d1 {
  display: none;
}

.post-type-container {
  .widefat td {
    vertical-align: middle !important;
  }
  .site-title {
    min-width: 300px;
    font-size: 15px;
    font-weight: 700;

    span a {
      font-size: 12px;
      color: #666;
      font-weight: 500;

      &:hover {
        color: #000;
      }
    }
    .row-actions {
      a {
        font-size: 11px;
        text-transform: uppercase;
        color: inherit;
        color: #988181;
        background: #e7e7e7;
        color: #666;
        padding: 4px 2px;
        padding-right: 5px;
        font-weight: 600;
        border-radius: 3px;

        span.dashicons {
          font-size: 13px;
          top: 5px;
          position: relative;
        }
      }
    }
  }
  th#site-title {
    width: 30%;
  }
  .fixed .column-author,
  .fixed .column-format,
  .fixed .column-links,
  .fixed .column-parent,
  .fixed .column-posts,
  .wp-heading-inline,
  .page-title-action {
    display: none !important;
  }
  .notice,
  .notice.notice-error {
    display: none !important;
  }
  .site-status {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 2.5em;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: -0.25em 0;
    cursor: inherit !important;
    white-space: nowrap;
    max-width: 100%;
    padding: 0px 12px;
    font-weight: 600;
  }
  .site-status.status-completed {
    background: #c8d7e1;
    color: #2e4453;
  }
  .site-status.status-on-hold {
    background: #f8dda7;
    color: #94660c;
  }
  .site-status.status-stop {
    background: #eba3a3;
    color: #761919;
  }
  .site-status.status-start {
    background: #c6e1c6;
    color: #5b841b;
  }
  .site-status.status-trash {
    background: #eba3a3;
    color: #761919;
  }
  .site-status > span {
    margin: 0 1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.post-type-container.post-php {
  .handle-actions,
  #minor-publishing-actions,
  #misc-publishing-actions,
  #delete-action {
    display: none;
  }
  .notice,
  .notice.notice-error {
    display: none !important;
  }
  #acf-group_5affdcd76c8d1,
  #pageparentdiv,
  #elementor-switch-mode {
    display: none !important;
  }
}

#acf-group_5afc7b8e22840 {
  top: -32px;
}

#acf-group_5afc7b8e22840,
#acf-group_5af8272e96d48,
#acf-group_5af9435f11e79,
.post-type-container #authordiv,
#tagsdiv-container_category {
  .hndle {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    color: #fff;
    background: @brand-primary;

    &::before {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 16px;
      width: 24px;
      height: 24px;
      background-image: url("../img/active.png");
      background-size: cover;
      content: "";
    }
  }

  #poststuff h3 {
    padding: 12px 20px;
  }

  .acf-fields > .acf-field {
    padding: 20px !important;
  }

  #side-sortables {
    .hndle {
      display: none;
      background: #222;
    }
  }

  .update-nag {
    display: none;
  }
}

#acf-group_5af8272e96d48,
#acf-group_5af9435f11e79,
.post-type-container #authordiv {
  top: 0;
}

.dollie-notice,
#setting-error-tgmpa {
  position: relative;
  width: auto;
  margin-top: 30px;
  margin-top: 0;
  margin-left: -20px;
  padding: 20px;
  color: #545454;
  background-image: url(../img/active.png),
    -o-linear-gradient(290deg, #ffffff 71%, #36b3cd 0%);
  background: url(../img/active.png),
    linear-gradient(160deg, #ffffff 71%, #36b3cd 0%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  svg {
    position: absolute; /* z-index: -1000; */
    right: 20px;
    bottom: 12px;
    height: 70%; /* width: 100%; */
    opacity: 0.9; /* top: 0; */
  }

  img {
    float: right;
    width: 100px;
  }

  p {
    padding-right: 20%;
    font-size: 120%;
    color: #545454;
    max-width: 60%;
  }

  svg * {
    color: #fff;
  }

  &.api-active,
  &.api-inactive {
    background: transparent;
    border: 0;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: -45px;
  }
  &.api-inactive {
    background: #ffeaea;
    margin-bottom: -14px;
    position: relative;
    top: 75px !important;
  }
}

.dollie-notice.dollie-notice-error {
  background-image: url("../img/active.png"),
    linear-gradient(160deg, #ffffff 71%, #cd3636 0%);

  .button.button-primary {
    background-color: #cd3636;
    border: 1px solid #cd3636;
  }
}

.api-active-span {
  color: green;
}

.api-inactive-span {
  color: red;
}

#setting-error-tgmpa {
  margin: 0;

  span {
    font-weight: 400;
    display: block !important;
    border-bottom: 1px solid #f1f1f1;
    line-height: 170%;
    padding-bottom: 10px;
    font-size: 94%;
  }
}
