.dollie_is_staging {
  .notice,
  div.error,
  div.updated {
    display: none !important;
  }
}

.notice.dollie-notice {
  z-index: initial;
}

body.toplevel_page_wpd_platform_setup {
  #wpfooter {
    display: none;
  }

  .postbox .inside {
    padding: 0 12px 12px;
  }

  background: #fff;
  @media only screen and (min-width: 768px) {
    .postbox {
      border: 0;
      background: #fff;
      -webkit-box-shadow: inherit;
      box-shadow: inherit;
    }

    .acf-fields > .acf-field {
      position: relative;
      margin: 0;
      padding: 20px 0px !important;
      border-top: #eeeeee solid 1px;
      padding-bottom: 26px !important;
    }

    .form-wrap p,
    p.description,
    p.help,
    span.description {
      font-size: 14px;
      font-style: normal;
    }

    .acf-tab-group li a {
      display: block;
      padding: 10px 25px;
      border: #ccc solid 1px;
      border-bottom: 0 none;
      border-radius: 3px 3px 0 0;
      color: #555;
      background: #f1f1f1;
      font-size: 13px;
      font-weight: 800;
      line-height: 27px;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: none;
    }

    .acf-fields > .acf-tab-wrap {
      margin: 0;
      margin-bottom: 20px;
      background: #f9f9f9;
    }

    #wpwrap {
      #wpcontent {
        background: #fff;
      }

      .hndle,
      .handlediv {
        display: none;
      }

      // Custom Fixed Header on Desktops
      .acf-settings-wrap h1 {
        position: fixed;
        z-index: 100;
        top: 42px;
        width: 100%;
        margin-top: -10px;
        margin-right: -20px;
        margin-left: -22px;
        padding-top: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 68px;
        border-top: 1px solid #383f46;
        border-bottom: 1px solid #efefef;
        color: #000;
        background: linear-gradient(160deg, #ffffff 60%, #36b3cd 0%);

        &::before {
          display: inline-block;
          position: absolute;
          top: 21px;
          left: 25px;
          width: 32px;
          height: 32px;
          background-image: url("../img/icon.png");
          background-size: cover;
          content: "";
        }
      }

      #submitdiv {
        border: 0;
        box-shadow: none;

        .hndle,
        .spinner {
          display: none;
        }

        .spinner.is-active {
          position: absolute;
          top: 19px;
          filter: brightness(0);
        }
      }

      #major-publishing-actions {
        clear: both;
        position: fixed;
        z-index: 100000000;
        top: 32px;
        width: 17%;
        margin-right: 0px;
        padding: 10px;
        border-top: 0 none;
        background: transparent none repeat scroll 0 0;
      }

      #side-sortables {
        margin-top: -20px;
      }

      #publishing-action {
        float: none;
        width: 100%;
        margin-top: 2px;
        margin-left: -9px;

        &::before {
          opacity: 0;
        }
      }

      #major-publishing-actions input,
      #minor-publishing-actions .preview,
      #minor-publishing-actions input {
        width: 100%;
        height: 45px;
        padding: 0 18px;
        background: #545454;
        text-shadow: none;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;

        &:hover {
          background: #333;
          text-shadow: none;
        }
      }

      .wp-core-ui .notice.is-dismissible {
        top: 79px !important;
      }

      // The Actual Content Area
      #poststuff {
        padding-top: 85px;
        padding-left: 10px;
      }
    }

    .acf-fields > .acf-tab-wrap .acf-tab-group {
      background: #fff !important;
    }
  }
}

#acf-group_5afc7b8e22840 {
  top: -32px;

  .hndle {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    color: #fff;
    background: @brand-primary;

    &::before {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 16px;
      width: 24px;
      height: 24px;
      background-image: url("../img/active.png");
      background-size: cover;
      content: "";
    }
  }

  #poststuff h3 {
    padding: 12px 20px;
  }

  .acf-fields > .acf-field {
    padding: 20px !important;
  }

  #side-sortables {
    .hndle {
      display: none;
      background: #222;
    }
  }

  .update-nag {
    display: none;
  }
}

.dollie-notice {
  position: relative;
  z-index: -1;
  width: auto;
  margin-top: 30px; /* max-width: 70%; */
  margin-top: 0;
  margin-left: -20px;
  padding: 20px;
  color: #545454;
  background: linear-gradient(160deg, #ffffff 71%, #36b3cd 0%);

  svg {
    position: absolute; /* z-index: -1000; */
    right: 20px;
    bottom: 12px;
    height: 70%; /* width: 100%; */
    opacity: 0.9; /* top: 0; */
  }

  img {
    float: right;
    width: 100px;
  }

  p {
    padding-right: 20%;
    font-size: 120%;
    color: #545454;
    max-width: 60%;
  }

  svg * {
    color: #fff;
  }
}
