.acf-hide-title .acf-label {
  display: none;
}

.acf-form .acf-fields > .acf-field.af-field-site-backup {
  padding-left: 0;
}

@layer components {

  [type=radio],
  [type=checkbox] {
    @apply dol-ring-0 #{!important};

    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }

}