//Launch Site

#form_dollie_launch_site {

    //Add Tailwind Grid
    .dollie-blueprints-listing ul.acf-radio-list {
            @apply dol-container dol-grid md:dol-grid-cols-2 lg:dol-grid-cols-4 dol-gap-2 dol-mx-auto #{!important};

            &::before {
                display: none !important;
            }
    }

    .acf-bl label {
            padding: 5px;
        }

  .acf-radio-list {
    label {
      display: inherit !important;
      text-align: center;
    }


    li {
      float: left;
      list-style: none;
      padding: 5px;

      &:hover {
        padding: 5px;
      }


      label.selected {
        font-weight: 700;
        background: rgb(57, 188, 156);
        color: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 5px;

        img.fw-blueprint-screenshot {
          opacity: 1;
        }
      }

      input {
        display: none !important;
      }

      input[type="radio"]:checked + label {
        font-weight: 700;
        padding-bottom: 15px;
      }
    }

    img.fw-blueprint-screenshot {
      max-width: 100%;
      display: block;
      border-radius: 10px;
      padding: 5px;
      margin-right: 0;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        background: rgb(57, 188, 156);
      }
    }
  }
}

.dol-blueprint-launch-inner #form_dollie_launch_site {
    .acf-input {
        width: 100% !important;

    }
}

.acf-field-repeater[data-name="wpd_dynamic_blueprint_data"] {
  padding-left: 0 !important;
  padding-right: 0 !important;

  .acf-label {
    label {
      @apply dol-text-base md:dol-text-xl;
    }
  }
}
