@layer components {
  .dollie-notifications-nav {
    display: block !important;
    position: relative;

    .notif-navigation-count {
      top: -5px;
      position: absolute;
      margin-left: -5px;
    }

    .notif-icon-wrap {
      i {
        font-size: 18px;
        /*vertical-align: -7px;*/
      }
    }
  }

  .dollie-notifications-list {
    max-width: 480px;
    top: 0;

    &.notif-visible {
      display: block;
    }

    .notif-inner {
      height: calc(100% - 57px);
    }

    .notif-unread {
      @apply dol-bg-gray-100;
    }

    .notif-title {
      line-height: 1.2;
    }

    .notif-date {
      min-width: 70px;
    }

    .notif-header-title a,
    .notification-body a {
      padding: 0 !important;
    }

    .notification-body a {
      display: inline-block !important;
    }

    .notif-header-title {
      .dollie-notifications-count {
        vertical-align: middle;
      }
    }
  }

  .dollie-notifications-count:not(:empty) {
    border-radius: 50%;
    background: red;
    color: #fff;
    padding: 2px;
    font-size: 11px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 16px;
  }

  .admin-bar {
    .dollie-notifications-list {
      top: 32px;
      height: calc(100% - 32px);
    }
  }

  .admin-bar {
    .dol-layout-sidebar {
      position: relative;
    }
    .dol-layout-sidebar {
      padding-top: 10px;
      z-index: 100000;
    }
  }

  .dollie-menu-avatar-img {
    width: 28px;
    height: 28px;
  }

  //Custom styling for Tailwind Layouts
  .dol-custom-layout {
    #dol-notifications,
    .menu-notifications-container {
      padding: inherit;
      margin: none;
      li {
        list-style: none;
      }
    }
  }
}