.toplevel_page_cbox {
  #message,
  .wrap > h2 {
    display: none;
  }
}

.wpd-wizard-page,
.toplevel_page_cbox {
  //margin-top: -32px;

  .af-form {
    min-width: 820px;
  }

  .af-page-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .acf-form
    .acf-fields
    > .acf-field.af-field-type-radio
    .acf-input
    ul
    > li
    label {
    display: inherit;
  }
  .af-submit.acf-form-submit {
    .btn {
      font-size: 16px;
      padding: 12px;
      font-weight: 500;
      background: #efefef;
      color: #777;
    }
    .btn.btn-primary {
      @apply dol-bg-green-500;
      @apply dol-text-white;
    }
  }
  .acf-form .acf-fields > .acf-field {
    margin-bottom: 1rem;
    border-width: 0px;
    padding: 0px 1rem;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
  }

  .acf-field-620bcff318df1 .acf-true-false {
    pointer-events: none;
  }

  .acf-image-select label input {
    display: none;
  }

  .acf-image-select {
    text-align: center;

    h5 {
      font-size: 15px;
      font-weight: 800;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .acf-image-select label span {
    margin: 0;
    font-weight: 700;
    text-align: center;
    background: #f9f9f9;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .acf-image-select label img {
    max-width: 90%;
  }

  .acf-image-select label.selected {
    border: 2px solid #36b3cd;
    border-radius: 12px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .acf-image-select li {
    display: inline-block;

    list-style: none;

    max-width: 25%;
  }
}
