body[class*="dollie_setup"] {
  background: #fff;
  height: 100%;
  #message,
  .wrap > h2 {
    display: none;
  }

  a {
    text-decoration: none;
  }

  #wpbody-content {
    font-size: 15px;
  }

  img {
    max-width: 100%;
  }

  p {
    margin: 2px;
    //font-size: inherit;
  }

  #wpbody-content .dol-sites-name {
    width: 41.333333%;
  }

  @media (min-width: 1280px) {
    .xl\:dol-w-4\/12 {
      width: 29.6%;
    }
  }

  .button-primary {
    padding: 12px 30px;
    @apply dol-font-bold;
    @apply dol-text-lg;
    @apply dol-bg-green-500;
    @apply dol-text-white;
    @apply dol-border-gray-200;
  }

  #wpbody-content .error {
    @apply dol-bg-red-100;
    @apply dol-border;
    @apply dol-border-red-400;
    @apply dol-text-red-700;
    @apply dol-px-4;
    @apply dol-py-3;
    @apply dol-rounded;
    @apply dol-relative;
  }

  #wpbody-content .updated {
    @apply dol-bg-green-100;
    @apply dol-border;
    @apply dol-border-green-400;
    @apply dol-text-green-700;
    @apply dol-px-4;
    @apply dol-py-3;
    @apply dol-rounded;
    @apply dol-relative;
  }

  #wpbody-content .update-messages {
    @apply dol-p-4;
    @apply dol-border;
    @apply dol-border-gray-200;
    @apply dol-rounded;
    @apply dol-bg-gray-100;
    @apply dol-text-xs;
  }
}

.wpd-wizard-page,
body[class*="dollie_setup"] {
  //margin-top: -32px;

  .af-form {
    min-width: 820px;
  }

  .af-page-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .acf-form
    .acf-fields
    > .acf-field.af-field-type-radio
    .acf-input
    ul
    > li
    label {
    display: inherit;
  }
  .af-submit.acf-form-submit {
    .btn {
      font-size: 16px;
      padding: 12px;
      font-weight: 500;
      background: #efefef;
      color: #777;
    }
    .btn.btn-primary {
      @apply dol-bg-green-500;
      @apply dol-text-white;
    }
  }
  .acf-form .acf-fields > .acf-field {
    margin-bottom: 1rem;
    border-width: 0px;
    padding: 0px 1rem;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
  }

  .acf-field-620bcff318df1 .acf-true-false {
    pointer-events: none;
  }

  .acf-image-select label input {
    display: none;
  }

  .acf-image-select {
    text-align: center;

    h5 {
      font-size: 15px;
      font-weight: 800;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .acf-image-select label span {
    margin: 0;
    font-weight: 700;
    text-align: center;
    background: #f9f9f9;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .acf-image-select label img {
    max-width: 90%;
  }

  .acf-image-select label.selected {
    border: 2px solid #36b3cd;
    border-radius: 12px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .acf-image-select li {
    display: inline-block;

    list-style: none;

    max-width: 25%;
  }
}
