:root {
  --color: 180, 100%; /*the base color*/
  --color-l: 40%; /*the initial lightness*/

  --secondary: hsl(var(--color), calc(var(--color-l) * 1));
  --secondary-100: hsl(var(--color), calc(var(--color-l) * 1.4));
  --secondary-200: hsl(var(--color), calc(var(--color-l) * 1.3));
  --secondary-300: hsl(var(--color), calc(var(--color-l) * 1.2));
  --secondary-400: hsl(var(--color), calc(var(--color-l) * 1.1));
  --secondary-500: hsl(var(--color), calc(var(--color-l) * 0.9));
  --secondary-600: hsl(var(--color), calc(var(--color-l) * 0.8));
  --secondary-700: hsl(var(--color), calc(var(--color-l) * 0.7));
  --secondary-800: hsl(var(--color), calc(var(--color-l) * 0.6));
  --secondary-900: hsl(
    var(--color),
    calc(var(--color-l) - var(--color-l) * 0.3)
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@import "widgets/nav";
@import "widgets/title";
@import "widgets/forms";
@import "widgets/cards";
@import "widgets/sites-list";

@import "acf";
@import "notifications";
@import "blueprints";
@import "fontawesome5/fontawesome.scss";
@import "custom-icons.scss";

.dol-bg-blue-500 {
  background: var(--e-global-color-primary) !important;
}

.elementor-kit-5971 {
  //   --e-global-color-primary: #986ee4;
  //   --e-global-color-secondary: #54595f;
  //   --e-global-color-text: #7a7a7a;
  //   --e-global-color-accent: #db679a;
  //   --e-global-color-350bcf98: #515771;
  //   --e-global-color-70b723c9: #54d285;
  //   --e-global-color-2f899ed4: #b62121;
  //   --e-global-color-5020f293: #8565b0;
  //   --e-global-typography-primary-font-family: "Roboto";
  //   --e-global-typography-primary-font-weight: 600;
  //   --e-global-typography-secondary-font-family: "Roboto Slab";
  //   --e-global-typography-secondary-font-weight: 400;
  //   --e-global-typography-text-font-family: "Roboto";
  //   --e-global-typography-text-font-weight: 400;
  //   --e-global-typography-accent-font-family: "Roboto";
  //   --e-global-typography-accent-font-weight: 500;
}
