@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@import "widgets/nav";
@import "widgets/title";
@import "widgets/forms";
@import "widgets/cards";
@import "widgets/sites-list";

@import "acf";
@import "notifications";
@import "blueprints";
@import "fontawesome5/fontawesome.scss";
@import "custom-icons.scss";

.dol-bg-gradient-primary {
  background: linear-gradient(var(--primary-700), var(--primary));
}

.dol-sidebar-widget {
  .dol-widget-site-sidebar,
  .dol-widget-custom {
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}

.dol-bg-gradient-secondary {
  background: linear-gradient(var(--secondary-700), var(--secondary));
}

.elementor-kit-5971 {
  //   --e-global-color-primary: #986ee4;
  //   --e-global-color-secondary: #54595f;
  //   --e-global-color-text: #7a7a7a;
  //   --e-global-color-accent: #db679a;
  //   --e-global-color-350bcf98: #515771;
  //   --e-global-color-70b723c9: #54d285;
  //   --e-global-color-2f899ed4: #b62121;
  //   --e-global-color-5020f293: #8565b0;
  //   --e-global-typography-primary-font-family: "Roboto";
  //   --e-global-typography-primary-font-weight: 600;
  //   --e-global-typography-secondary-font-family: "Roboto Slab";
  //   --e-global-typography-secondary-font-weight: 400;
  //   --e-global-typography-text-font-family: "Roboto";
  //   --e-global-typography-text-font-weight: 400;
  //   --e-global-typography-accent-font-family: "Roboto";
  //   --e-global-typography-accent-font-weight: 500;
}
