@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import "widgets/nav";
@import "widgets/title";
@import "widgets/forms";
@import "widgets/cards";
@import "widgets/_general";
@import "widgets/sites-list";
@import "widgets/customers-list";

@import "acf";
@import "notifications";
@import "blueprints";
@import "dns-manager";
@import "fontawesome5/fontawesome.scss";
@import "custom-icons.scss";
@import "wizard";

.dol-btn.dol-btn-primary,
.dol-btn.dol-btn-secondary,
.dol-btn.dol-btn-accent {
    color: #FFF;
    //@extend .base-200;
}

.dol-bg-gradient-primary {
  background: linear-gradient(var(--d-primary-700), var(--d-primary));
}

.dol-sidebar-widget,
.dol-layout-sidebar,
.dol-widget-clean {
  .dol-widget-site-sidebar,
  .dol-widget-custom {
    background: transparent;
    padding: 0;
    box-shadow: none;
  }
}

.dol-widget-clean {
  background: transparent;
  padding: 0;
  box-shadow: none;
}

.dol-bg-gradient-secondary {
  background: linear-gradient(var(--secondary-700), var(--secondary));
}
.dol-sites-name .dol-item-name img.emoji {
  width: 20px;
}
