#wp-admin-bar-gform-forms {
  display: none !important;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup .wp-menu-image {
  background: url("../img/active.png") no-repeat scroll center center / 63% auto rgba(0, 0, 0, 0) !important;
  opacity: 0.8;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup a:hover .wp-menu-image {
  opacity: 1;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup .div.wp-menu-image:before {
  display: none;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup.wp-menu-open {
  background: #51aabf !important;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup.wp-menu-open .wp-menu-image {
  background-image: url("../img/active.png") !important;
  opacity: 1 !important;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup.wp-menu-open .wp-menu-image:before {
  display: none;
}
#adminmenuwrap .toplevel_page_wpd_platform_setup .wp-menu-image:before {
  display: none !important;
}
#wp-admin-bar-dab {
  background: #48a7bc !important;
}
.toplevel_page_wpd_platform_setup .alert {
  display: none !important;
}
.dollie_is_staging .notice,
.dollie_is_staging div.error,
.dollie_is_staging div.updated {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .toplevel_page_wpd_platform_setup .postbox {
    border: 0;
    background: #fff;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
  }
  .toplevel_page_wpd_platform_setup .acf-tab-group li a {
    display: block;
    padding: 10px 26px;
    border: #ccc solid 1px;
    border-bottom: 0 none;
    border-radius: 3px 3px 0 0;
    color: #555;
    background: #f1f1f1;
    font-size: 13px;
    font-weight: 800;
    line-height: 27px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .toplevel_page_wpd_platform_setup .acf-fields > .acf-tab-wrap {
    margin: 0;
    margin-bottom: 20px;
    background: #f9f9f9;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #wpcontent {
    background: #fff;
  }
  .toplevel_page_wpd_platform_setup #wpwrap .hndle,
  .toplevel_page_wpd_platform_setup #wpwrap .handlediv {
    display: none;
  }
  .toplevel_page_wpd_platform_setup #wpwrap .acf-settings-wrap h1 {
    position: fixed;
    z-index: 100;
    top: 42px;
    width: 100%;
    margin-top: -10px;
    margin-right: -20px;
    margin-left: -22px;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 68px;
    border-top: 1px solid #383f46;
    color: #fff;
    background: url(../img/bg.svg) no-repeat center bottom, -webkit-gradient(linear, left top, right bottom, color-stop(0, #1f7e9a), color-stop(50%, #5fc2df), to(#2390b0));
    background: url(../img/bg.svg) no-repeat center bottom, -o-linear-gradient(top left, #1f7e9a 0, #5fc2df 50%, #2390b0 100%);
    background: url(../img/bg.svg) no-repeat center bottom, linear-gradient(to bottom right, #1f7e9a 0, #5fc2df 50%, #2390b0 100%);
  }
  .toplevel_page_wpd_platform_setup #wpwrap .acf-settings-wrap h1::before {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 25px;
    width: 32px;
    height: 32px;
    background-image: url("../img/active.png");
    background-size: cover;
    content: "";
  }
  .toplevel_page_wpd_platform_setup #wpwrap #submitdiv {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #submitdiv .hndle,
  .toplevel_page_wpd_platform_setup #wpwrap #submitdiv .spinner {
    display: none;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #major-publishing-actions {
    clear: both;
    position: fixed;
    z-index: 100000000;
    top: 32px;
    width: 17%;
    margin-right: -39px;
    padding: 10px;
    border-top: 0 none;
    background: transparent none repeat scroll 0 0;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #side-sortables {
    margin-top: -20px;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #publishing-action {
    float: none;
    width: 115%;
    margin-top: 2px;
    margin-left: -9px;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #publishing-action::before {
    position: absolute;
    top: 24px;
    left: 51px;
    color: rgba(255, 255, 255, 0.44);
    font-family: dashicons;
    font-size: 36px;
    font-weight: normal !important;
    content: "\f147";
  }
  .toplevel_page_wpd_platform_setup #wpwrap #major-publishing-actions input,
  .toplevel_page_wpd_platform_setup #wpwrap #minor-publishing-actions .preview,
  .toplevel_page_wpd_platform_setup #wpwrap #minor-publishing-actions input {
    width: 100%;
    height: 45px;
    padding: 0 18px;
    background: #545454;
    text-shadow: none;
    font-weight: bold;
    text-align: center;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #major-publishing-actions input:hover,
  .toplevel_page_wpd_platform_setup #wpwrap #minor-publishing-actions .preview:hover,
  .toplevel_page_wpd_platform_setup #wpwrap #minor-publishing-actions input:hover {
    background: #333;
    text-shadow: none;
  }
  .toplevel_page_wpd_platform_setup #wpwrap .wp-core-ui .notice.is-dismissible {
    top: 79px !important;
  }
  .toplevel_page_wpd_platform_setup #wpwrap #poststuff {
    padding-top: 85px;
  }
  .toplevel_page_wpd_platform_setup .acf-fields > .acf-tab-wrap .acf-tab-group {
    background: #fff !important;
  }
}
#acf-group_5afc7b8e22840 {
  top: -32px;
}
#acf-group_5afc7b8e22840 .hndle {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  color: #fff;
  background: #51AABF;
}
#acf-group_5afc7b8e22840 .hndle::before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 16px;
  width: 24px;
  height: 24px;
  background-image: url("../img/active.png");
  background-size: cover;
  content: "";
}
#acf-group_5afc7b8e22840 #poststuff h3 {
  padding: 12px 20px;
}
#acf-group_5afc7b8e22840 .acf-fields > .acf-field {
  padding: 20px !important;
}
#acf-group_5afc7b8e22840 #side-sortables .hndle {
  display: none;
  background: #222;
}
#acf-group_5afc7b8e22840 .update-nag {
  display: none;
}
.dollie-notice {
  position: relative;
  z-index: -1;
  width: auto;
  margin-top: 30px;
  /* max-width: 70%; */
  margin-top: 0;
  margin-left: -20px;
  padding: 20px;
  color: #fff;
  background: url(../img/bg.svg) no-repeat center bottom, -webkit-gradient(linear, left top, right bottom, color-stop(0, #1f7e9a), color-stop(50%, #5fc2df), to(#2390b0));
  background: url(../img/bg.svg) no-repeat center bottom, -o-linear-gradient(top left, #1f7e9a 0, #5fc2df 50%, #2390b0 100%);
  background: url(../img/bg.svg) no-repeat center bottom, linear-gradient(to bottom right, #1f7e9a 0, #5fc2df 50%, #2390b0 100%);
}
.dollie-notice svg {
  position: absolute;
  /* z-index: -1000; */
  right: 20px;
  bottom: 12px;
  height: 70%;
  /* width: 100%; */
  opacity: 0.9;
  /* top: 0; */
}
.dollie-notice p {
  padding-right: 20%;
  font-size: 120%;
}
.dollie-notice * {
  color: #fff;
}
#wpwrap #acf-group_561b880e8cfb0 {
  border: 0;
}
#wpwrap #acf-group_561b880e8cfb0 .hndle,
#wpwrap #acf-group_561b880e8cfb0 .handlediv {
  display: none;
}
#wpwrap #acf-group_561b880e8cfb0 .acf-field {
  padding: 20px !important;
}
#wpwrap #acf-group_561b880e8cfb0 .acf-tab-group {
  padding-right: 0;
  padding-left: 0;
  background: #f1f1f1;
}
#wpwrap #acf-group_561b880e8cfb0 .acf-tab-group li a {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
#wpwrap .acf-field .acf-label label {
  display: block;
  margin: -3px 0 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 162%;
}
#wpwrap .fa-live-preview {
  float: left;
  width: auto;
  padding: 3px;
  font-size: 22px;
}
#wpwrap .select2-container.fa-select2-field {
  float: right;
  position: relative;
  top: -1;
  width: 75% !important;
}
#wpwrap .acf-field-564b368a3f51c {
  width: 77%;
  margin-top: -60px !important;
  border-top: 0 !important;
}
#acf-Dollie_DBlicenses_introduction {
  border-width: 0 0 5px;
  border-style: none none solid;
  border-radius: 4px;
  -o-border-image: none;
     border-image: none;
  color: #545454;
  background: #fff none repeat scroll 0 0;
  font-weight: bold;
}
#acf-Dollie_DBlicenses_introduction .inside {
  font-size: 110%;
  font-weight: 400;
  line-height: 1.4em;
}
#acf-Dollie_DBlicenses_introduction .acf-input {
  margin-top: -10px;
  line-height: 170%;
}
#acf-Dollie_DBlicenses_introduction .hndle,
#acf-Dollie_DBlicenses_introduction label,
#acf-Dollie_DBlicenses_introduction .handlediv {
  display: none;
}
.expiration-date,
.domains {
  font-weight: bold;
}
.acf-field-license-key-field-dollie-builder .acf-input-wrap {
  font-family: "Courier", sans-serif;
}
.acf-field-license-key-field-dollie-builder.active .acf-input-prepend {
  color: #fff;
  background: #47bb9e;
}
.acf-field-license-key-field-dollie-builder.active input.acf-is-prepended {
  background: #f2fffc none repeat scroll 0 0;
}
.acf-field-license-key-field-dollie-builder.expired .acf-input-prepend,
.acf-field-license-key-field-dollie-builder.invalid .acf-input-prepend {
  color: #fff;
  background: #d52121;
}
.acf-field-license-key-field-dollie-builder.expired input.acf-is-prepended,
.acf-field-license-key-field-dollie-builder.invalid input.acf-is-prepended {
  background: rgba(213, 78, 33, 0.2) none repeat scroll 0 0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* Make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* Call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* This makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
/* Loading thingy */
.loading-dot {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
          box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  -webkit-animation: load 3s infinite linear;
  animation: load 3s infinite linear;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: translate(0px, 0px), rotate(0deg);
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  }
  25% {
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
  }
  50% {
    -webkit-box-shadow: 0 -120px 0 0 #41C4AC, 0px 120px 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
            box-shadow: 0 -120px 0 0 #41C4AC, 0px 120px 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
  }
  70% {
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
  }
  75% {
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    height: 10px;
    width: 10px;
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  85% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 10px;
    width: 10px;
  }
  95 {
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  }
}
@keyframes load {
  0% {
    -webkit-transform: translate(0px, 0px), rotate(0deg);
            transform: translate(0px, 0px), rotate(0deg);
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  }
  25% {
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
  }
  50% {
    -webkit-box-shadow: 0 -120px 0 0 #41C4AC, 0px 120px 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
            box-shadow: 0 -120px 0 0 #41C4AC, 0px 120px 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px 120px 0 0 #41C4AC, 120px -120px 0 0 #41c4ac;
  }
  70% {
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
  }
  75% {
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    height: 10px;
    width: 10px;
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  85% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 120px;
    width: 120px;
  }
  90% {
    -webkit-transform: translate(0px, 0px) rotate(360deg);
            transform: translate(0px, 0px) rotate(360deg);
    -webkit-box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
            box-shadow: 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41C4AC, 0px 0 0 0 #41c4ac;
    background-color: #41c4ac;
    height: 10px;
    width: 10px;
  }
  95 {
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
            box-shadow: 0 120px 0 0 #41C4AC, 0px -120px 0 0 #41C4AC, 120px 0 0 0 #41C4AC, -120px 0 0 0 #41C4AC, 120px 120px 0 0 #41C4AC, -120px -120px 0 0 #41C4AC, 120px -120px 0 0 #41C4AC, -120px 120px 0 0 #41c4ac;
  }
}
