@layer components {
  .acf-field input[type="text"],
  .acf-field input[type="password"],
  .acf-field input[type="date"],
  .acf-field input[type="datetime"],
  .acf-field input[type="datetime-local"],
  .acf-field input[type="email"],
  .acf-field input[type="month"],
  .acf-field input[type="number"],
  .acf-field input[type="search"],
  .acf-field input[type="tel"],
  .acf-field input[type="time"],
  .acf-field input[type="url"],
  .acf-field input[type="week"],
  .acf-field textarea,
  .acf-field select {
    @apply dol-border-2 dol-border-solid dol-border-gray-400 dol-rounded;
    @apply dol-px-3 dol-py-2 #{!important};
  }

  .acf-form {

    .acf-field .acf-label label {
            display: inline-flex;
    }
    .acf-field .acf-notice,
    .acf-notice {
      @apply dol-mt-0 dol-mx-4 dol-mb-6 dol-px-4 dol-py-2 dol-rounded;

      &.-error {
        @apply dol-border-0 dol-bg-red-600;
      }

      p {
        @apply dol-text-white dol-text-sm;
      }

      .acf-notice-dismiss {
        top: 14px;
        right: 14px;
      }
    }

    .acf-field .acf-notice {
      &.-error {
        @apply dol-bg-red-200 dol-mx-0 dol-mb-4;

        p {
          @apply dol-text-red-600;
        }
      }
    }

    .acf-fields {
      > .acf-field {
        @apply dol-py-0 dol-px-4 dol-border-0 dol-mb-4;

        .acf-label {
          label {
            @apply dol-font-semibold dol-text-gray-900;

            .acf__tooltip {
              @apply dol-ml-2 dol-fill-current dol-text-gray-700;
            }
          }
        }

        &.af-field-type-text,
        &.acf-field-type-text {
          .acf-input {
            .acf-input-wrap {
              input {
                @apply dol-border-2 dol-border-solid dol-border-gray-400 dol-px-3 dol-py-2 dol-rounded;
              }
            }
          }
        }

        &.af-field-type-select,
        &.acf-field-type-select {
          .acf-input {
            select {
              @apply dol-border-2 dol-border-solid dol-border-gray-400 dol-px-3 dol-py-2 dol-rounded;
            }
          }
        }

        &.af-field-type-radio {
          .acf-input {
            ul {
              @apply dol-p-0 dol-m-0;
              > li {
                @apply dol-mb-3;

                &:last-child {
                  @apply dol-mb-0;
                }

                label {
                  @apply dol-flex dol-items-center;
                }
              }
            }
          }

          &.af-field-site-backup {
            .acf-input {
              ul {
                > li {
                  @apply dol-mb-0;

                  label {
                    @apply dol-p-4;
                    @apply dol-bg-gray-100;

                    &.selected,
                    &:hover {
                      @apply dol-bg-gray-300;
                    }

                    input {
                      @apply dol-mr-3;
                    }
                  }
                }
              }
            }
          }
        }

        &.af-field-type-text.af-field-site-url {
          .acf-input {
            @apply dol-w-full;

            @screen lg {
              @apply dol-w-3/5;
            }

            .acf-input-append {
              @apply dol-border-2 dol-border-l-0 dol-border-solid dol-border-gray-400 dol-px-3 dol-py-2 dol-bg-gray-300 dol-text-gray-700 dol-rounded dol-rounded-tl-none dol-rounded-bl-none;
            }

            .acf-input-wrap {
              input {
                @apply dol-border-2 dol-border-r-0 dol-border-solid dol-border-gray-400 dol-px-3 dol-py-2 dol-rounded dol-rounded-tr-none dol-rounded-br-none;
              }
            }
          }
        }
      }
    }

    .acf-form-submit {
      @apply dol-py-0 dol-px-4 dol-mt-4;

      input,
      button {
        @apply dol-py-2 dol-px-3 dol-rounded dol-bg-red-500 dol-border-0 dol-text-white;

        &:hover {
          @apply dol-bg-red-600 dol-border-0 dol-text-white;
        }

        &:focus {
          @apply dol-outline-none;
        }
      }
    }
  }
}

.elementor-widget-dollie-launch-site .acf-input-append {
  @apply dol-border-2 dol-border-solid dol-border-gray-400 dol-rounded;
  @apply dol-px-3 dol-py-2 #{!important};
  border-left-width: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#form_dollie_list_backups {
  .af-field-site-backup {
    li {
      @apply dol-rounded;
      font-size: 13px;
      line-height: 39px;
      display: grid;
      margin: 0;
      position: relative;
      word-wrap: break-word;
      margin-bottom: 5px;
      padding: 0;

      label {
        display: block;
      }

      span.dol-inline-block {
        float: right;
      }
    }
  }
}
