@layer components {
  .dol-nav-btn {
    @apply dol-block dol-py-3 dol-rounded dol-text-gray-500 dol-font-semibold dol-no-underline;
    &:hover,
    &.dol-nav-active {
      @apply dol-text-primary;
    }
  }

  .dol-duration-300 {
    transition-duration: 300ms;
  }

  .dol-widget-site-sidebar {
    li {
      a {
        position: relative;
        padding-left: 27px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 170%;

        &:hover i {
          opacity: 1;
        }
      }

      i {
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 11px;
      }
    }
  }
}