@layer components {
  /* Search input */
  input[type="text"] {
    &.dol-search-input {
      @apply dol-pl-10 dol-pr-4 dol-py-2 dol-border dol-border-solid dol-border-gray-300 dol-text-base dol-text-gray-700 dol-bg-white dol-rounded;

      &::placeholder {
        @apply dol-text-gray-300;
      }

      &:focus {
        @apply dol-border-gray-400 dol-outline-none dol-appearance-none;
      }
    }
  }

  /* List type switch */
  .dol-layout-preview {
    @apply dol-block dol-p-3 dol-bg-gray-200 dol-text-gray-700 dol-cursor-pointer dol-leading-none;

    &:hover {
      @apply dol-bg-gray-300;
    }

    &.dol-switch-active {
      @apply dol-bg-gray-300 dol-text-gray-700;
    }
  }

  /* Actions */
  .dol-custom-modal {
    @apply dol-hidden dol-fixed dol-top-0 dol-left-0 dol-h-screen dol-w-full dol-z-99999 dol-bg-black dol-bg-opacity-30;

    &.dol-modal-visible {
      @apply dol-block;
    }

    .dol-tab-action {
      &.dol-tab-active {
        @apply dol-bg-gray-700;
      }
    }

    .dol-tab-inner {
      @apply dol-hidden;

      &.dol-tab-active {
        @apply dol-block;
      }
    }
  }

  /* Items */
  .dol-sites-container {
    @apply dol-flex dol-flex-wrap dol-space-y-4;

    .dol-sites-item {
      @apply dol-w-full dol-shadow dol-rounded-md dol-transition-shadow dol-ease-in dol-duration-300 dol-overflow-hidden dol-border-gray-200;

      &:hover {
        @apply dol-border-gray-200 dol-shadow-md;
      }

      .dol-sites-item-inner {
        @apply dol-flex dol-flex-wrap dol-items-center dol-relative dol-p-4 dol-pl-10;
      }

      &:nth-child(odd) {
        .dol-sites-item-inner {
          @apply dol-bg-gray-50;
        }
      }

      &:nth-child(even) {
        .dol-sites-item-inner {
          @apply dol-bg-white;
        }
      }

      .dol-check-wrap {
        @apply dol-w-2 dol-absolute dol-left-0 dol-top-0 dol-h-full;
      }

      .dol-sites-image {
        @apply dol-w-3/12 dol-mb-4;

        .dol-sites-image-box {
          @apply dol-shadow dol-rounded dol-overflow-hidden;
        }
      }

      .dol-sites-name {
        @apply dol-w-9/12 dol-pl-2 dol-mb-4;
      }

      .dol-sites-status {
        @apply dol-w-3/12 dol-text-center;
      }

      .dol-sites-version {
        @apply dol-hidden;
      }

      .dol-sites-client {
        @apply dol-w-4/12 dol-pl-2;
      }

      .dol-sites-controls {
        @apply dol-w-5/12 dol-text-right;
      }
    }
  }

  @screen md {
    .dol-sites-container {
      .dol-sites-item {
        @apply dol-relative;

        .dol-sites-image {
          @apply dol-w-3/12;
        }

        .dol-sites-name {
          @apply dol-w-6/12 dol-pl-4;
        }

        .dol-sites-status {
          @apply dol-w-3/12 dol-text-right;
        }

        .dol-sites-version {
          @apply dol-w-3/12 dol-block;
        }

        .dol-sites-client {
          @apply dol-w-4/12 dol-pl-4;
        }

        .dol-sites-controls {
          @apply dol-w-5/12 dol-text-right;
        }
      }
    }
  }

  @screen lg {
    .dol-sites-container {
      .dol-sites-item {
        .dol-sites-item-inner {
          @apply dol-flex-nowrap;
        }

        .dol-sites-image {
          @apply dol-w-1/12 dol-mb-0;
        }

        .dol-sites-name {
          @apply dol-w-3/12 dol-px-4 dol-mb-0;
        }

        .dol-sites-status {
          @apply dol-w-1/12 dol-text-center;
        }

        .dol-sites-version {
          @apply dol-w-2/12 dol-pl-4;
        }

        .dol-sites-client {
          @apply dol-w-2/12 dol-p-0;
        }

        .dol-sites-controls {
          @apply dol-w-3/12;
        }
      }
    }
  }

  /* Pagination */

  .dol-loader {
    @apply dol-absolute dol-w-full dol-h-full dol-bg-black dol-opacity-25 dol-z-10 dol-rounded dol-hidden;
  }

  .dol-sites-pages {
    @apply dol-mt-6 dol-flex dol-items-center dol-justify-center;

    .page-numbers {
      @apply dol-px-4 dol-py-2 dol-bg-gray-200 dol-text-gray-700 dol-rounded dol-font-medium dol-mx-1;

      &.current {
        @apply dol-bg-gray-300 dol-text-gray-800 dol-cursor-default;
      }

      &:hover {
        @apply dol-bg-gray-300 dol-text-gray-800;
      }
    }
  }

  /* Filters */
  :root {
    --disabled: #959495;
  }

  .dol-checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 1.2rem;
    color: var(--d-primary);

    &--disabled {
      color: var(--disabled);
    }
  }

  .checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 100%;
    border-radius: 0.25em;
    border: 0.1em solid currentColor;

    svg {
      transition: transform 0.1s ease-in 25ms;
      transform: scale(0);
      transform-origin: bottom left;
    }
  }
}
